.idea
.DS_Store
/cmake-build-debug
/cmake-build-release
/build
/malitoBuild
/.vscode
README.html
/task_examples
/buildOld
/malitoBuildOld
/paper_tasks/**/*log*.*
/paper_tasks/**/*.txt
/vanillaBuild
/cnavBuild
steps.yaml
/otroBuild
/build_renderer
renderer/justABunchOfCode.py
renderer/sobreescribir.py
renderer/__pycache__